@import './variables';
.logo{
    width: 170px;
    height: 48px;
    background-size: cover;
}

#lp{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../public/media/light-grey-bg.jpg');
}

.custom-awesome{
    color: $secondColor;
}

.middleContent{
    .header{
        text-transform: uppercase
    }
    .content{
        list-style-type: none;
        font-size: 2.2em;

        li{
        font-weight: 300;
        }
        
        li::before{
            content: ' - '
        }
    }
    
}
.bottomContent{
    .header{
        text-align: center;
    }
    .content{
        padding: 8px;
    }
}

.clearfix{
    height: 30px;
}

.btn-feedback{
    background-color: $secondColor;
    color: white;
}

