@import './variables.scss';
$menuButtonRange: 12px;
.myNav{
    margin-top: 20px;
    padding: 0;
    text-transform: uppercase;
    // font-weight: 400;
    list-style-type: none;

        li{
            float: left;
            a{
                display: block;
                padding: 0 $menuButtonRange 10px $menuButtonRange;
                text-decoration-line: none;
                color: $linkColor;
            }
        }

        li::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $secondColor;
            transition: width .3s;
        }

        li:hover::after {
            width: 100%;
            transition: width .3s;
        }

        li.active{

            a{
                color: $secondColor;
                transition: color .3s;
            }
            
        }
}