//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext');
//menu
$secondColor: #00C853;
$linkColor: #212121;
$linkHoverColor : #E0E0E0;
$textSecondColor: #546E7A;

//all site
body{
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}